<template name="layout">

<section>


    <ul  id="slide-out" class="side-nav">
        <li><div class="user-view">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="004-code.png"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
        <li><a href="/tuto"><i class="material-icons">school</i>Tutoriels</a></li>
        <li><a href=/exo><i class="material-icons">work</i>Exercices</a></li>
        <li><a href="/DL"><i class="material-icons">sync</i>Downloads</a></li>
        <li><a href=/Note><i class="material-icons">work</i>Notes</a></li>
        <li><a  href="#"></a></li>


    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    <nav>
        <div class="nav-wrapper pink">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>Ce site ne collecte aucune information, votre compte est privée, et n'a aucune vovation a inciter l'annonymas sur internet dans une autre demarche que celle de pouvoir controller l'emprunte numérique que laisse tout utilisateur et pouvoir eviter par exemple la publicité ciblié par collectes des donées de navigations. Verifiez les lois en vigueur dans votre pays afin d'être sur que les logiciels proposé sont utilisable legalement.
                Enfin, cette application est un exercice, sa seule raison d'être est l'obtention d'un diplôme dans le cadre de mes études. </p>
        </div>
        <div class="modal-footer">

            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green">Je comprends</a>
            <a href="https://www.google.com" class="modal-action modal-close waves-effect waves-red btn-flat red">Pas d'accord</a>
        </div>
    </div>





    {{> yield}}



    <!-- Tap Target Structure -->
    <div id="ancre"  class="tap-target pink" data-activates="menu">
        <div class="tap-target-content">
            <h5>A propos?</h5>
            <p>Je m'appelle Fabien j'ai 26 ans, et voici mon projet de fin d'etude pour valider mon titre de developpeur logiciel!</p>
        </div>
    </div>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">Proxy, retrouvez votre liberté ! .</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        <li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
                        <li><a href="/tuto"><i class="material-icons">school</i>Tutoriels</a></li>
                        <li><a href=/exo><i class="material-icons">work</i>Exercices</a></li>
                        <li><a href=/Note><i class="material-icons">work</i>Notes</a></li>
                        <li><a href="/DL"><i class="material-icons">sync</i>Downloads</a></li>
                        <li> <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn modal-trigger pink pulse" href="#modal1">C.G.U</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                ©  2017 proxyApp Copyright
            </div>
        </div>
    </footer>





        <script>$('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                    console.log("Ready");
                    console.log(modal, trigger);
                },
                complete: function() { console.log('Closed'); } // Callback for Modal close
            },

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'right', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, //
        })
    )


        </script>

    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>

</section>

</template>